@import './Home.scss';
@import './Work.scss';

canvas {
    width: 100%;
    background: #e3e3e3;
    filter: invert(1);
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.App, #root, body {
    min-height: 100vh;
    font-family: 'Consolas', monospace, sans-serif;


    background: #222;
    color: #fff;
}

a {
    color: inherit;

    &.empty {
        color: darken(#fff, 50%);
    }
}